.skills-wrapper {
  margin-top: 11em;
  padding-top: 2em;
  .title {
    font-size: 50px;
    width: 40%;
    margin: auto;
    padding-right: 75px;
    span {
      border-top: 3px solid black;
    }
  }
  .svg-wrapper {
    background: #314d92;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    border-radius: 0% 0% 250vh 250vh / 0% 0% 20vh 20vh;
    #curve1 {
      position: absolute;
      bottom: 0;
      width: 100%;
    }
    #curve1 path {
      fill: white;
      stroke: white;
    }
    .svg-skill {
      position: absolute;
      font-size: 13em;
      right: 10%;
      top: 32px;
      color: rgba(255, 255, 255, 0.05);
      font-family: 'Sawarabi Mincho';
    }
    .plant {
      position: absolute;
      top: -120px;
      transform: rotateY(-180deg);
      left: 0;
      width: 250px;
    }
    .all-skills {
      width: 75%;
      margin: auto;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 7em 0;
      .skills-info {
        margin: 40px;
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        .skill-icons {
          background: #5577b7;
          padding: 0 25px;
          border-radius: 66px;
          margin-bottom: 25px;
        }
        img {
          width: 55px;
          margin: 40px 0;
        }
        p {
          margin: 5px 0;
          text-align: center;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 48em) {
  .skills-wrapper {
    margin: 3em 0;
    .title {
      font-size: 40px;
      width: 90%;
      margin-bottom: 2em;
      padding-right: 0;
    }
    .svg-wrapper {
      height: auto;
      .all-skills {
        text-align: center;
        .skills-info {
          margin: 30px;
        }
      }
      .plant {
        top: -50px;
        width: 135px;
      }
      .svg-skill {
        font-size: 5em;
      }
    }
  }
}