.home-page-wrapper {
  color: black;
  font-family: 'Quicksand';
  .header {
    font-family: 'Sawarabi Mincho';
    width: 90%;
    margin-left: calc(100% - 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    z-index: 1;
    position: relative;
    color: white;
    .logo {
      visibility: hidden;
      img {
         width: 60px;
      }
    }
    .nav-bar {
      margin-right: 10%;
      ul {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        li {
          padding: 0 15px;
          text-transform: capitalize;
          a {
            text-decoration: none;
            color: white;
            letter-spacing: 1px;
            &:hover {
              color: #58f19f;
            }
          }
        }
      }
    }
  }
  .home-wrapper {
    width: 90%;
    margin-left: calc(100% - 90%);
    display: flex;
    flex-direction: row;
    .info {
      flex: 1;
      display: flex;
      flex-direction: column;
      height: 60vh;
      justify-content: center;
      .name {
        font-family: 'Noto Serif KR';
        font-size: 22px;
        font-weight: 500;
      }
      h1 {
        margin: 15px 0;
      }
      .company-name {
        position: relative;
        top: -12px;
        font-size: 14px;
        a {
          text-decoration: none;
          color: #42d687;
          font-weight: 600;
        }
      }
      .social {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        text-align: center;
        margin: 35px 0;
        .social-links {
          padding-right: 45px;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: black;
            text-decoration: none;
          }
          img {
            margin-bottom: 8px;
          }
        }
      }
      .hire-me {
        border: 1px solid #3bd174;
        outline: none;
        padding: 15px 50px;
        font-size: 14px;
        border-radius: 25px;
        background: #3bd174;
        color: white;
        width: 125px;
        font-weight: 600;
        letter-spacing: 1px;
        text-align: center;
        text-decoration: none;
        position: relative;
        top: 10px;
        transition: 0.5s;
        &:hover {
          background: #48e591;
          transition: 0.5s;
        }
      }
    }
    .bio {
      flex: 2;
      .girl-with-lappy {
        width: 25em;
        position: absolute;
        right: 5em;
        top: 10em;
      }
      .plant-near-girl {
        width: 150px;
        z-index: 1;
        position: absolute;
        top: 17em;
        right: calc(25% + 4em);
      }
      .bio-wrapper {
        background: #314d92;
        width: 50%;
        position: absolute;
        right: -7em;
        top: -11em;
        height: 52em;
        border-radius: 17em;
        transform: rotate(47deg);
      }
      .setting-1 {
        width: 100px;
        position: absolute;
        right: -20px;
        animation: spin 10s linear infinite;
      }
      .setting-2 {
        width: 50px;
        position: absolute;
        right: 2em;
        top: calc(8% + 2%);
        animation: spin 10s linear infinite reverse;
        path {
          fill: red;
        }
      }
    }
  }
}

@keyframes spin {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 48em) {
  .home-page-wrapper {
    .header {
      .nav-bar {
        // margin-left: 10%;
      }
    }
    .home-wrapper {
      display: block;
      width: 90%;
      margin: auto;
      .info {
        margin-top: 18em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .bio {
        .bio-wrapper {
          width: 100%;
          right: -7em;
          top: -11em;
          height: 37em;
        }
        .setting-1, .setting-2 {
          display: none;
        }
        .girl-with-lappy {
          width: 15em;
          right: 1em;
          top: 5em;
        }
        .plant-near-girl {
          top: 7em;
          right: calc(50% + 4em);
          width: 100px;
          // display: none;
        }
      }
    }
  }

}